body{
    color: #8285ca;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0;
}

.hero{
    background-image: url("./images/galaxy.webp");
    background-size: cover;
    width: 100%;
    height: 450px;
    padding: 10px 0px 40px 0px;

}

#title{
    text-shadow: 0px 0px 20px ;
    padding-top: 100px;
}

#main-logo{
    width: 250px;
    margin-bottom: 0px;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn{
    text-align: center;
    padding: 5px 10px;
    display: block;
    margin: 0px auto;
    width: auto;
    background-color: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    color: #8285ca;
    
}

.underline{
    border-bottom: 4px solid white;
}